<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property 
-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     to make all loggers asynchronous. -->

<configuration status="INFO">
  <appenders>
    <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
    <RandomAccessFile name="RandomAccessFile" fileName="logs/timings.log" immediateFlush="false" append="false"> 
      <PatternLayout>
        <pattern>%m %ex%n</pattern>
      </PatternLayout>
    </RandomAccessFile>
  </appenders>
  <loggers>
    <root level="info" includeLocation="true">
      <appender-ref ref="RandomAccessFile"/>
    </root>
  </loggers>
</configuration>